<footer>
    <section>
		<img src="images/peetslogo.png" alt="Peet's Coffee Logo">
        <h3>Peet's Coffee</h3>
        <p>Berkeley, California</p>
        <p>Est. 1966</p>
        <ul>
            <li><img src="images/instagramwhite.svg" alt="Instagram"></li>
            <li><img src="images/twitterwhite.svg" alt="Twitter"></li>
            <li><img src="images/facebookwhite.svg" alt="Facebook"></li>
            <li><img src="images/youtubewhite.svg" alt="YouTube"></li>
            <li><img src="images/linkedinwhite.svg" alt="LinkedIn"></li>
            <li><img src="images/tiktokwhite.svg" alt="TikTok"></li>
        </ul>
    </section>

    <section>
        <article>
            <h4>Help center</h4>
			<ul>
            <li><a href="#">contact us</a></li>
            <li><a href="#">help center</a></li>
            <li><a href="#">shipping & returns</a></li>
			</ul>
        </article>
        <article>
            <h4>Company</h4>
			<ul>
            <li><a href="#">careers</a></li>
            <li><a href="#">our people</a></li>
            <li><a href="#">newsroom</a></li>
            <li><a href="#">code of ethics</a></li>
            <li><a href="#">supply chain transparency</a></li>
            <li><a href="#">supplier code of conduct</a></li>
			</ul>
        </article>
        <article>
            <h4>Gift cards</h4>
			<ul>
            <li><a href="#">shop gift cards</a></li>
			</ul>
        </article>
        <article>
            <h4>Offers</h4>
			<ul>
            <li><a href="#">student discount</a></li>
            <li><a href="#">current offers</a></li>
            <li><a href="#">get $25</a></li>
			</ul>
        </article>
        <article>
            <h4>Partners with Peet's</h4>
			<ul>
            <li><a href="#">foodservice program</a></li>
            <li><a href="#">become an affiliate</a></li>
            <li><a href="#">college ambassador program</a></li>
            <li><a href="#">franchise</a></li>
			</ul>
        </article>
        <article>
            <h4>Find Peet's in grocery</h4>
			<ul>
            <li><a href="#">product finder</a></li>
			</ul>
        </article>
        <article>
            <h4>Blog</h4>
			<ul>
            <li><a href="#">the cupping room</a></li>
			</ul>
        </article>
        <article>
            <h4>The Peet's App</h4>
            <ul>
                <li><img src="images/appstore.png" alt=""></li>
				<li><img src="images/googleplay.png" alt=""></li>
            </ul>
        </article>
    </section>

	<section>
		<p>
			© 2026. Peet’s Coffee
		</p>
	
		<ul>
			<!-- <li><span>|</span></li> -->
			<li><span>|</span><a href="#">Privacy Notice</a></li>
			<!-- <li><span>|</span></li> -->
			<li><span>|</span><a href="#">Do Not Sell or Share My Personal Information</a></li>
			<!-- <li><span>|</span></li> -->
			<li><span>|</span><a href="#">Terms of Use</a></li>
			<!-- <li><span>|</span></li> -->
			<li><span>|</span><a href="#">Your Privacy Choices</a></li>
		</ul>
	
		<p>
			*Nespresso is a registered trademark of Société des Produits Nestlé S.A., and is not affiliated with Peet’s Coffee Inc.
			Compatible with most Nespresso Original machines.
		</p>
	</section>
	
</footer>
