<footer>
	<section>
		<h3>Peet's Coffee</3>
			<p>Berkeley, California</p>
			<p>Est. 1966</p>
			<ul>
				<li>
					<!-- sm icons -->
				</li>
			</ul>
	</section>

	<section>
		<!-- moet nog een h2 komen-->
		<!-- <article> -->
		<ul>
			<h3>Help center</h3>
			<li>
				<a href="#">contact us</a>
			</li>
			<li>
				<a href="#">help center</a>
			</li>
			<li>
				<a href="#">shipping & returns</a>
			</li>
		</ul>
		<!-- </article> -->
		<!-- <article> -->
		<ul>
			<h3>Company</h3>
			<li>
				<a href="#">careers</a>
			</li>
			<li>
				<a href="#">our people</a>
			</li>
			<li>
				<a href="#">newsroom</a>
			</li>
			<li>
				<a href="#">code of ethics</a>
			</li>
			<li>
				<a href="#">supply chain transparancy</a>
			</li>
			<li>
				<a href="#">supplier code of conduct</a>
			</li>
		</ul>
		<!-- </article>
		<article> -->
		<ul>
			<h3>gift cards</h3>
			<li>
				<a href="#">shop gift cards</a>
			</li>
		</ul>
		<!-- </article> -->
		 <!-- <article> -->
		<h3>offers</h3>
		<ul>
			<li>
				<a href="#">current offers</a>
			</li>
			<li>
				<a href="#">get $25</a>
			</li>
			<!-- </article> -->
			<!-- </article>
		<article> -->
			<h3>partners with peet's</h3>
			<li>
				<a href="#">foodservice program</a>
			</li>
			<li>
				<a href="#">become an affiliate</a>
			</li>
			<li>
				<a href="#">franchise</a>
			</li>
			<!-- </article>
		<article> -->
			<h3>find peet's in grocery</h3>
			<li>
				<a href="#">product in finder</a>
			</li>
			<!-- </article>
		<article> -->
			<h3>blog</h3>
			<li>
				<a href="#">the cupping room</a>
			</li>
			<!-- </article>
		<article> -->
			<h3>The peets app</h3>
			<ul>
				<!-- <li>appstore en google play icon en link</li> -->
			</ul>
			<!-- </article> -->
	</section>
</footer>