body {
    margin: 0 auto;
}

img {
    width: 90%;
    height: auto;
    display: block;
}

/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2em;
    /* margin: 2em auto; */
/* background-color: #fff;
/* } */

/* section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

section:first-of-type {
    background-color: #eee0d1;
    padding: 1em;
}


article {
    display: flex;
    flex-direction: column;
    /* align-items: start;  voor de carousel later, anders staat hij niet goed op de pagina (?) */
    padding: 1em;
    width: 90%
}

section:nth-of-type(2) article a,
.drinks a:last-of-type {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    font-size: 12px;
    font-weight: lighter;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #85623E;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 1.4;
}

/* a :first-of-type {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #9d0b0b;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin: 1em;
} */

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #937031;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    /* width: 100%; */
}

ul {
    display: flex;
    overflow-x: auto;
}

ul li {
    flex-shrink: 0;
}

li img {
    width: 15%;
    margin-right: 1em;
}

/* .icons{
    display: flex; 
    flex-direction: column;

}
.icons article {
    display: flex;
    align-items: center;

}

.icons img{
    width: 10%;
    height: auto;
} */

.icons {
    display: flex;
    flex-direction: row;
    /* gap: 0; */
    /* justify-content: center;
    align-items: center; */
}

.icons article img {
    width: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.icons p,
h3 {
    padding: 0;
    margin: 0;
}

.icons p {
    margin-bottom: 1em;
}

/* .revolution img{
    width: 100%;
}

.revolution p h2{
    text-align: center; */
/* } */

.revolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.revolution img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.revolution h2,
.revolution p,
.revolution a {
    margin: 0.5em 0;
}

.drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}


.customerslove {
    /* display:flex; */
    margin: 2em;
}
 .customerslove article{
        outline: 2px solid #c49b5d;
        outline-offset: 5px;
        padding: 10px;
 }


.reviews {
    max-width: 400px;
    margin: 2em;
    color: #333;
}

.reviews h2 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.reviews p {
    margin: 0.05 0;
    color: #666;
}

.rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0;
}

.rating-bar {
    flex: 1;
    margin: 0 0.5em;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.rating-bar .filled {
    height: 100%;
    background-color: #8B6F4E;
    border-radius: 5px 0 0 5px;
}

.rating-row span:first-child {
    min-width: 60px;
    text-align: left;
}

.rating-row span:last-child {
    min-width: 40px;
    text-align: right;
}


.overall-rating {
    background-color: #fff;
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.overall-rating h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
} */

.rating-summary {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    margin-bottom: 1em;
}

.rating-value {
    text-align: center;
}

.rating-value .score {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.rating-value .stars {
    font-size: 1.5em;
    color: #c49b5d;
}

.rating-value .reviews-count {
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
}



.stars-input {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    margin: 1em 0;
}

.stars-input .star {
    font-size: 1.5em;
    color: #c49b5d;
    border: 1px solid #c49b5d;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.stars-input .star:hover {
    background-color: #c49b5d;
    color: #fff;
}


