:root {
    --main-color: #937031;
    --color-secondary: #ebe2d3;
    --color-tertiary: #b9985c;
    --color-text: #222222;
    --background: #f7f6f1;
    --white: #ffffff;
}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: Montserrat;
    text-transform: uppercase;
}

/* body {
    font-family: 'MyCustomFont', sans-serif;
} */


body {
    background-color: var(--background);
    /* background-color: rgb(191, 186, 147); */
    color: #222222;
}

img {
    max-width: 100vw;
    height: auto;
    display: block;
    margin: 0 auto;
    /* border-radius: 0.25em; */
}

main>section:first-of-type {
    position: relative;
}

h1 {
    text-align: center;
    z-index: 2;
}

/* p :first-of-type{
    background-color: transparent;
} */

/* carousel: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels en https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-marker-group*/
main>section:first-of-type ul {
    width: 100vw;
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    z-index: 2;
}

main>section:first-of-type ul li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
}


main>section:first-of-type ul {
    scroll-marker-group: after;
}

main>section:first-of-type ul::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 1em;
    position: relative;
    top: -2rem;
    z-index: 2;
}

main>section:first-of-type ul li::scroll-marker {
    width: 0.3em;
    height: 0.3em;
    background-color: transparent;
    border: 0.125em solid var(--main-color);
    border-radius: 50%;
    content: "";
}

main>section:first-of-type ul li::scroll-marker:target-current {
    background-color: var(--main-color);
}

main>section:first-of-type p:nth-of-type(2) {
    position: relative;
    top: -6rem;
    margin: 0 1em;
    padding: 6em 2em 2em;
    text-align: center;
    background-color: var(--white);
    z-index: 1;
}


main>section:nth-of-type(2) {
    background-color: var(--white);
    padding: 2em 2em;
}

main>section:nth-of-type(2) h2 {
    font-size: small;

}

main>section:nth-of-type(2) a {
    font-family: Montserrat;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
    display: block;
    width: 100%;
    padding: 1em 0;
}

main>section:nth-of-type(2) a+p {
    font-family: Montserrat;
    font-size: small;
    background-color: var(--color-secondary);
    text-align: center;
    padding: 1em 2em;
    /* margin: 3em 2em; */
    margin-top: 1em;
    border: var(--main-color);
    border-style: dashed;
    display: block;
    width: 100%;
    /* padding: 1em 0; */
}


main>section:nth-of-type(3) {
    /* display:flex; */
    padding: 2em;
    background-color: var(--white);
}

main>section:nth-of-type(3) h2 {
    text-align: center;
    color: var(--main-color);
    padding: 0 1em;
}

main>section:nth-of-type(3) h3,
main>section:nth-of-type(3) p {
    font-size: small;
}


main>section:nth-of-type(3) article {
    outline: 0.125em solid var(--main-color);
    /* outline-offset: 0.3125em; */
    padding: 0.625em;
    margin: 1em 0;
    border-radius: 0.3em;
}

main>section:nth-of-type(3) h2 {
    color: var(--main-color);
    text-transform: uppercase;
    font-family: Montserrat;
}


main>section:nth-of-type(4) {
    background-color: var(--background);
    margin: 0 1em;
    margin-bottom: 2em;
    padding: 2em 0;
}

main>section:nth-of-type(4) img {
    width: 90vw;

}

main>section:nth-of-type(4) p:first-of-type {
    text-transform: uppercase;
    padding: 2em 0 1em 0;
    font-family: Montserrat;
    font-size: small;
}

main>section:nth-of-type(4) h2 {
    text-transform: uppercase;
    color: var(--main-color);
}

main>section:nth-of-type(4) p:nth-of-type(2) {
    padding: 1em 0 2em 0;
}


main>section:nth-of-type(4) p:nth-of-type(3) {
    padding: 1em 0 2em 0;
}

main>section:nth-of-type(4) a {
    color: var(--main-color);
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 3px;
}

main>section:nth-of-type(5) {
    background-color: var(--background);
    padding: 2.5em 0;
}

main>section:nth-of-type(5) h2 {
    text-align: center;
    padding-bottom: 1em;
}

main>section:nth-of-type(5) img {
    width: 90vw;
}


/* carousel: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels en https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-marker-group*/
main>section:nth-of-type(5) ul {
    width: 100vw;
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* position:relative; */
    /* z-index: 2; */
}

main>section:nth-of-type(5) ul li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
}



main>section:nth-of-type(5) ul {
    scroll-marker-group: after;
}

main>section:nth-of-type(5) ul::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 1em;
}

main>section:nth-of-type(5) ul li::scroll-marker {
    width: 0.3em;
    height: 0.3em;
    background-color: transparent;
    border: 0.125em solid var(--main-color);
    border-radius: 50%;
    content: "";
}

main>section:nth-of-type(5) ul li::scroll-marker:target-current {
    background-color: var(--main-color);
}

main>section:nth-of-type(5) h3 {
    text-align: center;
    color: var(--main-color);
    padding-top: 2em;
    padding-bottom: 1em;
}

main>section:nth-of-type(5) p {
    text-align: center;
    padding: 0 2em;

}

main>section:nth-of-type(5) li p:first-of-type {
    text-align: center;
    font-family: Montserrat;
    background-color: var(--main-color);
    /* border-radius: 50; */
    /* padding: 7em */

}





















.reviews {
    max-width: 400px;
    margin: 2em;
    color: #333;
}

.reviews h2 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.reviews p {
    margin: 0.05 0;
    color: #666;
}

.rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0;
}

.rating-bar {
    flex: 1;
    margin: 0 0.5em;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.rating-bar .filled {
    height: 100%;
    background-color: #8B6F4E;
    border-radius: 5px 0 0 5px;
}

.rating-row span:first-child {
    min-width: 60px;
    text-align: left;
}

.rating-row span:last-child {
    min-width: 40px;
    text-align: right;
}


.overall-rating {
    background-color: #fff;
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.overall-rating h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

*/ .rating-summary {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    margin-bottom: 1em;
}

.rating-value {
    text-align: center;
}

.rating-value .score {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.rating-value .stars {
    font-size: 1.5em;
    color: #c49b5d;
}

.rating-value .reviews-count {
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
}



.stars-input {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    margin: 1em 0;
}

.stars-input .star {
    font-size: 1.5em;
    color: #c49b5d;
    border: 1px solid #c49b5d;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.stars-input .star:hover {
    background-color: #c49b5d;
    color: #fff;
}