:root {
    --main-color: #937031;
    --color-secondary: #ebe2d3;
    --color-tertiary: #b9985c;
    --color-text-black: #222222;
    --background1: #f7f6f1;
    --color-text-white: #ffffff;
    --background: #f5f3ec;
    --white-background: #ffffff;
    --always-white: #ffffff;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #937031;
        --color-secondary: #3a3a3a;
        --color-tertiary: #5c4b2a;
        --color-text-black: #f5f3ec;
        --background1: #121212;
        --color-text-white: #000000;
        --background: #1e1e1e;
        --white-background: #000000;
        --always-white: #ffffff;
    }
}



@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    font-family: Montserrat;
    text-transform: uppercase;
}


body {
    background-color: var(--background);
    color: var(--color-text-black);
}

ul::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



main>button:first-of-type {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 3.5em;
    height: 1.5em;
    border-radius: 25em;
    border: none;
    font-size: 1.5em;
    background: var(--main-color);
    color: var(--always-white);
    z-index: 1000;
    transition: transform 0.35s ease;
}



main>section:first-of-type article>button:first-of-type {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0.3em 0.4em;
    color: var(--color-text-black);
}


main>section:first-of-type {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

main>section:first-of-type h2{
    display: none;
}

main>section:first-of-type[open] {
    visibility: visible;
    opacity: 1;
}


main>section:first-of-type>article {
    background: white;
    width: 90%;
    max-width: 400px;
    height: 60vh;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


main>section:first-of-type article>section:first-of-type {
    flex: 1;
    padding: 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


main>section:first-of-type article>section:first-of-type>article {
    align-self: flex-start;
    background: #eee;
    padding: 0.6em 0.9em;
    border-radius: 12px;
    max-width: 80%;
    font-size: 0.9em;
}


main>section:first-of-type article>section:last-of-type {
    display: flex;
    gap: 0.5em;
    padding: 0.6em;
    border-top: 1px solid #ddd;
}

main>section:first-of-type input {
    flex: 1;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

main>section:first-of-type article>section:last-of-type button {
    padding: 0 1em;
    border-radius: 8px;
    border: none;
    background: var(--main-color);
    color: white;
}


main>button:nth-of-type(2) {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 3.5em;
    height: 1.5em;
    border-radius: 25em;
    border: none;
    font-size: 1.5em;
    background: var(--main-color);
    color: var(--always-white);
    z-index: 1000;
    transition: transform 0.35s ease;
    white-space: nowrap;
    padding: 0.5em 1em;
}

main>button:nth-of-type(3) {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 80px);
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition:
        transform 0.35s ease,
        opacity 0.25s ease;
    z-index: 1000;
    width: 70%;
    background-color: var(--main-color);
    color: var(--always-white);
    margin: 0 1em;
}





main>section:nth-of-type(2) {
    position: relative;
    text-align: center;
}

h1 {

    z-index: 2;
}


/* carousel: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels en https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-marker-group*/
main>section:nth-of-type(2) ul {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    z-index: 2;
}

main>section:nth-of-type(2) ul li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

main>section:nth-of-type(2) ul li:nth-of-type(3) {
    margin-right: 2em;
}


main>section:nth-of-type(2) ul {
    scroll-marker-group: after;
}

main>section:nth-of-type(2) ul::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 1em;
    position: relative;
    top: -2rem;
    z-index: 2;
}

main>section:nth-of-type(2) ul li::scroll-marker {
    width: 0.3em;
    height: 0.3em;
    background-color: transparent;
    border: 0.125em solid var(--main-color);
    border-radius: 50%;
    content: "";
}

main>section:nth-of-type(2) ul li::scroll-marker:target-current {
    background-color: var(--main-color);
}



main>section:nth-of-type(2) p:nth-of-type(2) {
    position: relative;
    top: -6rem;
    margin: 0 1em;
    padding: 6em 2em 2em;
    text-align: center;
    background-color: var(--white-background);
    z-index: 1;
}


main>section:nth-of-type(3) {
    background-color: var(--background1);
    padding: 2em 2em;
}

main>section:nth-of-type(3) h2 {
    font-size: small;

}

main>section:nth-of-type(3) a {
    font-family: Montserrat;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--always-white);
    text-align: center;
    display: block;
    width: 100%;
    padding: 1em 0;
}

main>section:nth-of-type(3) div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bolder;
    background-color: var(--background);
    text-align: center;
    margin-top: 1em;
    border: var(--main-color);
    border-style: dashed;
    width: 100%;
    padding: 1em;
    align-items: center;
}

main>section:nth-of-type(3) div img {
    height: 5em;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

fieldset {
    display: flex;
    border: 1px solid var(--main-color);
    border-radius: 0.5em;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 0.75em 0.5em;
    border-right: 1px solid var(--main-color);
    cursor: pointer;
    background-color: var(--background1);

    transition: background-color 0.2s ease;
}

label:last-child {
    border-right: none;
}

label span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    font-family: Montserrat;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--main-color);
}


label img {
    width: 20px;
}

label:has(input[type="radio"]:checked) {
    background-color: var(--color-secondary);
}


input[type="radio"]:checked+span {
    color: var(--color-text-black);
    font-weight: bold;
}



main>section:nth-of-type(3)>div:first-of-type {
    display: flex;
    align-items: stretch;
    border: 1px solid var(--main-color);
    border-radius: 0.5em;
    overflow: hidden;
    margin: 0.75em 0;
}

main>section:nth-of-type(3)>div:first-of-type>button {
    width: 2em;
    height: 2em;
    border: none;
    background: var(--color-secondary);
    font-size: 1.5rem;
}

main>section:nth-of-type(3)>div:first-of-type>span {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-size: 0.8rem;
    letter-spacing: 0.08em;
    background-color: var(--background1);
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
}

main>section:nth-of-type(3) h2:nth-of-type(2)+div:first-of-type span small {
    margin-top: 0.25em;
    font-size: 0.7em;
    color: var(--color-text-black);
}















main>section:nth-of-type(4) {
    padding: 2em;
    background-color: var(--background);
}

main>section:nth-of-type(4) h2 {
    text-align: center;
    color: var(--main-color);
    padding: 0 1em;
}

main>section:nth-of-type(4) h3,
main>section:nth-of-type(4) p {
    font-size: small;
}


main>section:nth-of-type(4) article {
    outline: 0.125em solid var(--main-color);
    padding: 0.625em;
    margin: 1em 0;
    border-radius: 0.3em;
    display: flex;
    align-items: flex-start;
    gap: 1em;

}

main>section:nth-of-type(4) h2 {
    color: var(--main-color);
    text-transform: uppercase;
    font-family: Montserrat;
}


main>section:nth-of-type(5) {
    background-color: var(--background);
    margin: 0 1em;
    margin-bottom: 2em;
    padding: 2em 0;
}

main>section:nth-of-type(5) img {
    width: 100%;

}

main>section:nth-of-type(5) p:first-of-type {
    text-transform: uppercase;
    padding: 2em 0 1em 0;
    font-family: Montserrat;
    font-size: small;
}

main>section:nth-of-type(5) h2 {
    text-transform: uppercase;
    color: var(--main-color);
}

main>section:nth-of-type(5) p:nth-of-type(2) {
    padding: 1em 0 2em 0;
}


main>section:nth-of-type(5) p:nth-of-type(3) {
    padding: 1em 0 2em 0;
}

main>section:nth-of-type(5) a {
    color: var(--main-color);
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 3px;
}

main>section:nth-of-type(5) {
    background-color: var(--background);
    padding: 2em 0;
}

main>section:nth-of-type(6) h2 {
    text-align: center;
    padding-bottom: 1em;
    font-size: xx-large;
}

main>section:nth-of-type(6) img {
    width: 100%;
}


/* carousel: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels en https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-marker-group*/
main>section:nth-of-type(6) ul {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

main>section:nth-of-type(6) ul li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
}

main>section:nth-of-type(6) ul li:nth-of-type(3) {
    margin-right: 2em;
}



main>section:nth-of-type(6) ul {
    scroll-marker-group: after;
}

main>section:nth-of-type(6) ul::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 1em;
}

main>section:nth-of-type(6) ul li::scroll-marker {
    width: 0.3em;
    height: 0.3em;
    background-color: transparent;
    border: 0.125em solid var(--main-color);
    border-radius: 50%;
    content: "";
}

main>section:nth-of-type(6) ul li::scroll-marker:target-current {
    background-color: var(--main-color);
}

main>section:nth-of-type(6) h3 {
    text-align: center;
    color: var(--main-color);
    padding-top: 2em;
    padding-bottom: 1em;
}

main>section:nth-of-type(6) p {
    text-align: center;

}

main>section:nth-of-type(6) li p:first-of-type {
    width: 2em;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.75em auto;

    font-family: Montserrat;
    background-color: var(--main-color);
    color: var(--always-white);
    font-weight: bold;

    border-radius: 50%;

    transform: translateY(-60%);
}




main>section:nth-of-type(7) {
    background-color: var(--background1);
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
    padding: 1em;
}


main>section:nth-of-type(7) h2 {
    text-transform: none;
    color: var(--main-color);
}


main>section:nth-of-type(7) ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 1rem;
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    text-transform: uppercase;
}



main>section:nth-of-type(7) li {
    flex: 0 0 200px;
    scroll-snap-align: start;
    background: var(--always-white);
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    background-image:
        linear-gradient(to right,
            rgba(247, 245, 242, 1) 0%,
            rgba(247, 245, 242, 0.9) 30%,
            rgba(247, 245, 242, 0.4) 60%,
            rgba(247, 245, 242, 0) 100%),
        url(images/carouselbackground.png);

    background-size: cover;
    background-repeat: no-repeat;
}


main>section:nth-of-type(7) li img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    grid-column: 1 / -1;
    padding: 0 1em;
}

main>section:nth-of-type(7) li p:first-of-type {
    grid-column: 1 / -1;
    text-align: center;
    background-color: var(--main-color);
    color: var(--always-white);
    padding: 0.5em;
}

main>section:nth-of-type(7) li h3 {
    margin-bottom: 0.5rem;
    font-size: small;
    grid-column: 1 / -1;
    line-height: 1.2;
    min-height: calc(1.2em * 2);
    padding: 0 1em;
}

main>section:nth-of-type(7) li p {
    font-size: xx-small;
    margin: 0;

    background-color: var(--color-text-black);
    padding: 0.5em;
    background-color: var(--white-background);

}

main>section:nth-of-type(7) li p:nth-of-type(3) {
    text-align: right;
}


main>section:nth-of-type(8) {
    max-width: 400px;
    margin: 2em;
    color: var(--color-text-black);
}

main>section:nth-of-type(8)>div {
    display: grid;
    gap: 0.75em;
}

main>section:nth-of-type(8) article {
    display: grid;
    grid-template-columns: 60px 1fr 40px;
    align-items: center;
}

main>section:nth-of-type(8) article>div {
    height: 12px;
    background: var(--background);
    border-radius: 8px;
    overflow: hidden;
}

main>section:nth-of-type(8) article>div>div {
    height: 100%;
    background: #8B6F4E;
}


main>section:nth-of-type(9) {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: var(--white-background);
    border-radius: 10px;
}


main>section:nth-of-type(9)>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

main>section:nth-of-type(9)>div:first-of-type>span {
    font-size: 2.5em;
    font-weight: bold;
}

main>section:nth-of-type(9)>div:first-of-type>div {
    font-size: 1.5em;
    color: var(--main-color)
}


main>section:nth-of-type(9)>section:first-of-type>div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1em 0;
}

main>section:nth-of-type(9)>section:first-of-type span {
    font-size: 1.5em;
    border: 1px solid #c49b5d;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

main>section:nth-of-type(9)>section:first-of-type span:hover {
    background: #c49b5d;
    color: var(--always-white);
}

main>section:nth-of-type(9)>section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: left;
    margin-bottom: 1em;
}

main>section:nth-of-type(9) input {
    flex: 1 1 100%;
    width: 100%;
    padding: 0.4em;
}

main>section:nth-of-type(9) select {
    padding: 0.4em 0.7em;
    border: 1px solid #c49b5d;
    background: transparent;
    cursor: pointer;
}

main>section:nth-of-type(9)>section:nth-of-type(2) button {
    border: 1px solid var(--color-text-black);
    padding: 1em;
    background: var(--white-background);
    color: var(--color-text-black);
    border-radius: 0.5em;
    margin: 0.2em;
}

main>section:nth-of-type(9)>section:nth-of-type(2) h2{
    display:none;
}


main>section:nth-of-type(9) article ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0;
    list-style: none;
}

main>section:nth-of-type(9) article img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}


main>section:nth-of-type(9)>section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 1.5em; 
}

main>section:nth-of-type(9)>section:last-of-type h2{
    display:none;
}

main>section:nth-of-type(9)>section:last-of-type div {
    color: #c49b5d;
}


/* start your subscription (9) & never miss an offer (10) */
main>section:nth-of-type(10) {
    background-color: var(--background);
    border: var(--main-color) solid 3px;
    border-radius: 0.5em;
    padding: 1em;
    text-align: center;
    margin: 2em 1em;
}

main>section:nth-of-type(10) h2,
main>section:nth-of-type(11) h2 {
    font-size: 17px;
}

main>section:nth-of-type(10) a,
main>section:nth-of-type(11) a {
    font-family: Montserrat;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--white);
    display: inline-block;
    padding: 1em 2em;
    margin-top: 1em;
    font-size: small;
}

main>section:nth-of-type(11) {
    background-color: var(--background);
    padding: 2em 1em;

}