body {
    margin: 0 auto;
    /* background-color: #f5f3ec */
}

/* img {
    width: 90%;
    height: auto;
    display: block;
} */


/* styling voor de 1e 3 articles/sections op homepage (giving thanks, unwrap en roasting november) */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2em;
    margin: 2em auto;
    background-color: #f5f3ec;
}

article{
    padding-bottom: 4em;
}

article a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #927036;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    margin: 1em;
    border-radius: 2em;
    font-family: sans-serif;
}

article img{
    max-width: 90vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.25em;
}

/* article p, article h3{
    padding: 0 1em;
    margin: 0em 0em 2em;
} */

article h3{
    font-family: sans-serif;
    font-size: 1.75em;
}

article p{
    font-family: serif;
    font-size: 1.15em;
}







/* crowd pleasers styling */

ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
ul li {
    flex-shrink: 0;
    margin: 0;
}
  
li img {
    width: 150px;
    display: block;
}





/* footer ul {
    flex-direction: column;
    align-items: center;
}

footer ul li {
    margin-bottom: 1em;
} */
/* footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0;
    list-style: none;
} */



footer{
    background-color: #222222;
}

footer section{
    background-color: #222222;
}

footer section:last-of-type{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em;
}

footer h3 {
    color:#fff;
    margin-bottom: 0.5em;
    font-family: sans-serif;
    font-size: 1.25em;
}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5em;
}

footer a{
    text-decoration: none;
    color: #fff;
}
