:root {
  --main-color: #937031;
  --color-secondary: #ebe2d3;
  --color-tertiary: #b9985c;
  --color-text: #222222;
  --background: #f7f6f1;
  --white: #ffffff;
}




@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



body {
  padding-top: 5em;
  /* match nav height */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background: #fff;
}



nav>a img {
  height: 28px;
  width: auto;
  display: block;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

nav svg {
  width: 22px;
  height: 22px;
  stroke: #000;
}




/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.125rem 2.5rem;
    background: white;
    font-family: Arial, sans-serif;
  }
  

  nav > a img {
    height: 2.5rem;
    display: block;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  

  nav ul li a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }
  

  nav ul li svg {
    width: 1.375rem;
    height: 1.375rem;
    stroke-width: 1.6;
  }
  

    nav ul li a:hover svg {
    opacity: 0.6;
  } */





/* footer ul {
    flex-direction: column;
    align-items: center;
}

footer ul li {
    margin-bottom: 1em;
} */
/* footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0;
    list-style: none;
} */

footer {
  background-color: #222222;
}

footer section {
  background-color: #222222;
}

footer section:last-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
}

footer h3 {
  color: #fff;
  margin-bottom: 0.5em;
  font-family: sans-serif;
  font-size: 1.25em;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 0.5em;
}

footer a {
  text-decoration: none;
  color: #fff;
}