:root {
    --main-color: #937031;
    --color-secondary: #ebe2d3;
    --color-tertiary: #b9985c;
    --color-text: #222222;
    --background: #f7f6f1;
    --white: #ffffff;
}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0 auto;
    /* background-color: #f5f3ec */
}

/* img {
    width: 90%;
    height: auto;
    display: block;
} */



section:first-of-type {
    background-image: url(images/head.png);
    color: var(--white);
    padding: 5em 2em;
}

section:first-of-type h2 {
    font-family: Montserrat;
    text-transform: uppercase;
}


/* styling voor de 1e 3 articles/sections op homepage (giving thanks, unwrap en roasting november) */
main>section:nth-of-type(3) {
    display: flex;
    flex-direction: column;

    /* hierdoor werkt de carousel niet, hij word in het midden gezet */
    align-items: center;
    text-align: left;
    padding: 2em;
    margin: 2em auto;
    background-color: #f5f3ec;
}

main>section:nth-of-type(3) article {
    padding-bottom: 4em;
}

main>section:nth-of-type(3) a,
main>section:nth-of-type(4) a,
section:first-of-type a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    padding: 0.75em 1.5em;
    margin: 1em;
    border-radius: 2em;
    font-family: sans-serif;
}

main>section:nth-of-type(3) img,
main>section:nth-of-type(4) img {
    max-width: 90vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.25em;
}

/* article p, article h3{
    padding: 0 1em;
    margin: 0em 0em 2em;
} */

main>section:nth-of-type(3) h3,
main>section:nth-of-type(4) h3 {
    margin: 0.5em;
    font-size: 1.5em;
    font-family: Montserrat;
}

main>section:nth-of-type(3) p,
main>section:nth-of-type(4) p {
    padding: 0 1em;
    margin-bottom: 2em;
}




main>section:nth-of-type(4) h2 {
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
}

main>section:nth-of-type(4) article {
    margin: 2em 0;
}

main>section:nth-of-type(4) h3 {
    font-size: 2em;
}

main>section:nth-of-type(4) article:nth-of-type(5) {
    background-image: url(images/fromourblog.jpg);
    color: var(--white);
    padding: 5em 2em;
}

main>section:nth-of-type(4) article:nth-of-type(5) a {
    background-color: var(--white);
    color: var(--main-color);
}

main>section:nth-of-type(4) article:nth-of-type(5) h3,
article:nth-of-type(5) p {
    margin: 0;
    padding: 0;
}






/* crowd pleasers styling */

/* ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
ul li {
    flex-basis: 40%;
    flex-shrink: 0;
    margin: 0; */
/* background: orange; */
/* border: 1px solid red;
} */
/* 
ul li:first-of-type {
    margin-left: 10em;
} */

/* li img {
    width: 150px;
    display: block;
} */

main>section:nth-of-type(5) {
    background-color: var(--white);
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
}

main>section:nth-of-type(5) div {
    text-align: center;
    margin: 1em;
}

main>section:nth-of-type(5) div p {
    padding: 1em 0;
    font-size: small;
    margin-bottom: 2em;
}

main>section:nth-of-type(5) a {
    font-size: small;
    color: var(--main-color);
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 0.25em;
}

section ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 1rem;
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    text-transform: uppercase;
}



section li {
    flex: 0 0 200px;
    scroll-snap-align: start;
    background: #f7f5f2;
    border-radius: 12px;
    padding: 1em;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}


main>section:nth-of-type(5) li img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    grid-column: 1 / -1;
}

main>section:nth-of-type(5) li h3 {
    margin-bottom: 0.5rem;
    font-size: small;
    grid-column: 1 / -1;
    line-height: 1.2;
    min-height: calc(1.2em * 2);
}

main>section:nth-of-type(5) li p {
    font-size: xx-small;
    margin: 0;
}

main>section:nth-of-type(5) li p:nth-of-type(2) {
    text-align: right;
}


main>section:nth-of-type(6) {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
}

main>section:nth-of-type(6) ul {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 2);
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
}


main>section:nth-of-type(6) li {
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main>section:nth-of-type(6) li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
}

main>section:nth-of-type(6) li p {
    font-size: small;
    text-transform: uppercase;
}

main>section:nth-of-type(6) a {
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    font-weight: bolder;
}