:root {
    --main-color: #937031;
    --color-secondary: #ebe2d3;
    --color-tertiary: #b9985c;
    --color-text-black: #222222;
    --background1: #f7f6f1;
    --color-text-white: #ffffff;
    --background: #f5f3ec;
    --white-background: #ffffff;
    --always-white: #ffffff;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #937031;
        --color-secondary: #3a3a3a; 
        --color-tertiary: #5c4b2a;
        --color-text-black: #f5f3ec; 
        --background1: #121212; 
        --color-text-white: #000000; 
        --background: #1e1e1e;
        --white-background: #000000;
        --always-white: #ffffff;
    }
}


h1 {
    display: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

body {
    margin: 0 auto;
}

h2,
h3,
h4 {
    font-family: Oswald;
    font-weight: normal;
}

/* img {
    width: 90%;
    height: auto;
    display: block;
} */

/* section:first-of-type{

} */
















/* section:first-of-type ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
}

section:first-of-type ul li {
    flex: 0 0 80%;
    scroll-snap-align: center;
    background: var(--white);
    border-radius: 12px;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */


main>section:first-of-type {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    margin-top: 5em;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--color-text-white);
    font-family: Montserrat;
    text-transform: none;
}


main>section:first-of-type ul {
    display: flex;
    /* transition: transform 0.5s ease; */
    padding: 0;
    margin: 0;
    list-style: none;
    width: 300%;
    /* background-color: violet; */
}

main>section:first-of-type li {
    flex: 0 0 100%;
    padding: 3em 2em;
    text-align: center;
    font-family: Montserrat;
    /* font-weight: bold; */
    font-size: 0.4em;
}

main>section:first-of-type button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: var(--always-white);
    font-size: 2em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

main>section:first-of-type button:first-of-type {
    left: 10px;
}

main>section:first-of-type button:last-of-type {
    right: 10px;
}




main>section:nth-of-type(2) {
    background-image: url(images/head.png);
    color: var(--always-white);
    padding: 5em 2em;
}

main>section:nth-of-type(2) h2 {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 50px;
}



/* first carousel */

main>section:nth-of-type(3) h2{
    display: none;
}
main>section:nth-of-type(3) {
    background-color: var(--background);
    padding: 2em 0.5em;
}

main>section:nth-of-type(3) ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

main>section:nth-of-type(3) ul li {
    flex: 0 0 8em;
    height: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    background: var(--background1);
    padding: 1em;
    border-radius: 5px;
    text-align: center;

    font-family: Montserrat;
    font-size: small;
    color: var(--main-color);
    font-weight: bold;

    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
}


main>section:nth-of-type(3) ul li img {
    width: 3.5em;
    height: 3.5em;
    object-fit: contain;
    margin: 0 auto;
}

main>section:nth-of-type(3) ul li p {
    margin: 0;
    text-transform: uppercase;
}

main>section:nth-of-type(3) ul::-webkit-scrollbar {
    display: none;
}


/* styling voor de 1e 3 articles/sections op homepage */
main>section:nth-of-type(4) {
    color: var(--color-text-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2em;
    margin: 2em auto;
    background-color: var(--background);
}

main>section:nth-of-type(4) h2{
    display: none;
}

main>section:nth-of-type(4) article {
    padding-bottom: 4em;
}

main>section:nth-of-type(4) a,
main>section:nth-of-type(5) a,
main>section:nth-of-type(2) a,
main>article a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--always-white);
    border: none;
    padding: 0.75em 1.5em;
    margin: 1em;
    border-radius: 2em;
    font-family: sans-serif;
}

main>section:nth-of-type(4) img,
main>section:nth-of-type(5) img {
    max-width: 90vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.25em;
}

main>section:nth-of-type(4) h3,
main>section:nth-of-type(5) h3 {
    margin: 0.5em;
    font-size: 1.5em;
    /* font-family: Montserrat; */
}

main>section:nth-of-type(4) p,
main>section:nth-of-type(5) p {
    padding: 0 1em;
    margin-bottom: 2em;
}

main>section:nth-of-type(5) h2 {
    /* font-family: Montserrat; */
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
}

main>section:nth-of-type(5) article {
    margin: 2em 0;
    color: var(--color-text-black);
}

main>section:nth-of-type(5) h3 {
    font-size: 2em;
}

main>section:nth-of-type(5) article:nth-of-type(3) p:first-of-type {
    text-transform: uppercase;
    font-family: Montserrat;
}

main>section:nth-of-type(5) article:nth-of-type(3) {
    background-image: url(images/fromourblog.jpg);
    color: var(--always-white);
    padding: 5em 2em;
}

main>section:nth-of-type(5) article:nth-of-type(3) a {
    background-color: var(--always-white);
    color: var(--main-color);
}

main>section:nth-of-type(5) article:nth-of-type(3) h3,
article:nth-of-type(4) p {
    margin: 0;
    padding: 0;
}

/* crowd pleasers styling */
main>section:nth-of-type(6) {
    background-color: var(--background);
    color: var(--color-text-black);
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 1em;
}

main>section:nth-of-type(6) h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding: 0 2em;
}

main>section:nth-of-type(6) div {
    text-align: center;
    margin: 1em;
}

main>section:nth-of-type(6) div p {
    padding: 1em 0;
    font-size: small;
    margin-bottom: 2em;
}

main>section:nth-of-type(6) a {
    font-size: small;
    color: var(--main-color);
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-transform: uppercase;
    font-family: Montserrat;
}

section ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 100%;
    /* padding: 0 2em; */
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    text-transform: uppercase;
}

main>section:nth-of-type(6) li {
    flex: 0 0 200px;
    scroll-snap-align: start;
    background: #f7f5f2;
    /* border-radius: 12px; */
    /* padding: 1em; */
    padding: 0;
    /* IMPORTANT */
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    background-image:
        linear-gradient(to right,
            rgba(247, 245, 242, 1) 0%,
            rgba(247, 245, 242, 0.9) 30%,
            rgba(247, 245, 242, 0.4) 60%,
            rgba(247, 245, 242, 0) 100%),
        url(images/carouselbackground.png);

    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

main>section:nth-of-type(6) li img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    grid-column: 1 / -1;
    padding: 0 1em;
}

main>section:nth-of-type(6) li h3 {
    margin-bottom: 0.5rem;
    font-size: small;
    grid-column: 1 / -1;
    line-height: 1.2;
    min-height: calc(1.2em * 2);
    font-family: Montserrat;
    font-weight: bold;
    padding: 0 1em;
}

main>section:nth-of-type(6) li p {
    font-size: xx-small;
    margin: 0;
    background-color: var(--background);
    padding: 0.5em;
}

main>section:nth-of-type(6) li p:first-of-type {
    grid-column: 1 / -1;
    text-align: center;
    background-color: var(--main-color);
    color: var(--always-white);
    padding: 0.5em;
    /* border-radius: 12px 12px 0 0; */
}

main>section:nth-of-type(6) li p:nth-of-type(3) {
    text-align: right;
}

main>article {
    /* background-image: url(images/coffeebarnew.jpg); */
    color: var(--always-white);
    padding: 4em 1em;
    background-image:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0)),
        url(images/coffeebarnew.jpg);

    background-size: cover;
    background-position: center;
}

main>article p:first-of-type {
    text-transform: uppercase;
    font-family: Montserrat;
}

main>section:nth-of-type(7) {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
}

main>section:nth-of-type(7) h2{
    display: none;
}

main>section:nth-of-type(7) ul {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 2);
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;
    margin: 0;
    list-style: none;
    -webkit-overflow-scrolling: touch;
}

main>section:nth-of-type(7) li {
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: none;
}

main>section:nth-of-type(7) li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
}

main>section:nth-of-type(7) li p {
    font-size: small;
    text-transform: uppercase;
    color: var(--color-text-black);
}

main>section:nth-of-type(7) a {
    text-transform: uppercase;
    color: var(--color-text-black);
    text-decoration: none;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin: 2em 0;
}

main>section:nth-of-type(8) {
    background-image: url(images/stayintouch.jpg);
    color: var(--always-white);
    padding: 5em 2em;
    align-items: center;
    text-align: center;
}

main>section:nth-of-type(8) p:first-of-type

/* main>section:nth-of-type(8) h2 */
    {
    text-transform: uppercase;
    font-family: Montserrat;
}


input[type="text"] {
    padding: 0.75em;
    border: none;
    border-radius: 2em;
    margin: 0.5em;
    width: 80%;
    max-width: 300px;
    margin-bottom: 2em;
}

main>section:nth-of-type(8) button {
    text-transform: uppercase;
    color: var(--always-white);
    font-family: Montserrat;
    text-decoration: none;
    border: var(--always-white) 2px solid;
    border-radius: 20px;
    padding: 0.5em 2em;
    background-color: transparent;
}