:root {
  --main-color: #937031;
  --color-secondary: #ebe2d3;
  --color-tertiary: #b9985c;
  --color-text: #222222;
  --background: #f7f6f1;
  --white: #ffffff;
}




@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



body {
  padding-top: 5em;
}












/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.125rem 2.5rem;
    background: white;
    font-family: Arial, sans-serif;
  }
  

  nav > a img {
    height: 2.5rem;
    display: block;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  

  nav ul li a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }
  

  nav ul li svg {
    width: 1.375rem;
    height: 1.375rem;
    stroke-width: 1.6;
  }
  

    nav ul li a:hover svg {
    opacity: 0.6;
  } */







