:root {
    --main-color: #937031;
    --color-secondary: #ebe2d3;
    --color-tertiary: #b9985c;
    --color-text-black: #222222;
    --background1: #f7f6f1;
    --color-text-white: #ffffff;
    --background: #f5f3ec;
    --white-background: #ffffff;
    --always-white: #ffffff;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #937031;
        --color-secondary: #3a3a3a;
        --color-tertiary: #5c4b2a;
        --color-text-black: #f5f3ec;
        --background1: #121212;
        --color-text-white: #000000;
        --background: #1e1e1e;
        --white-background: #000000;
        --always-white: #ffffff;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    background: var(--white-background);
    width: 100%;
}

header > a img {
    height: 1.75em;
    width: auto;
    display: block;
}

header svg {
    width: 1.375em;
    height: 1.375em;
    stroke: var(--color-text-black);
}

header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

header button svg {
    width: 1.5em;
    height: 1.5em;
    stroke: var(--color-text-black);
}

header > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    margin-right: 1.5em;
    padding: 0;
    align-items: center;
}


nav {
    position: fixed;
    inset: 0;
    background-color: var(--white-background);
    color: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
}

nav.active {
    transform: translateX(0);
}

nav > button {
    position: absolute;
    top: 0.9375em;
    right: 0.9375em;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

nav > ul{
    list-style: none;;
}


nav > ul > li {
    position: relative;
}

nav > ul > li > h2 {
    margin: 0;
    padding: 0.75em 2.5em 0.75em 0; 
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}


nav > ul > li:has(ul)::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0.75em;
    width: 1.25em;
    text-align: center;
    font-size: 1.25em;
}

nav > ul > li.open:has(ul)::after {
    content: "-";
}

nav ul ul {
    list-style: none;
    padding-left: 1.25em;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%;
}


nav ul ul li {
    padding: 0.625em 0;
}

nav ul ul li h3 {
    margin: 0;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text-black);
}

nav ul ul li a {
    display: block;
    text-decoration: none;
    color: var(--color-text-black);
    font-size: 1em;
}

nav ul ul li a:hover {
    text-decoration: underline;
}




















footer section {
    background-color: #222;
    color: #ffffff;
    padding: 1.5em 1.25em;
    font-family: Georgia, "Times New Roman", serif;
}

footer section h3 {
    font-family: Georgia, "Times New Roman", serif;
}

footer section>img {
    width: 2.625em;
    height: auto;
    margin-bottom: 1em;
}


footer section h3 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 0 0 0.375em 0;
}


footer section p {
    margin: 0;
    font-size: 0.9375em;
    color: #d4d4d4;
}


footer section p:last-of-type {
    margin-top: 0.75em;
    font-size: 2.125em;
    font-weight: 600;
    color: #ffffff;
}


footer section ul {
    list-style: none;
    display: flex;
    gap: 1.125em;
    padding: 0;
    margin: 1.75em 0 0 0;
}


footer section ul li img {
    width: 1.375em;
    height: 1.375em;
    opacity: 0.8;
    color: #ffffff;
}


footer section ul li img:hover {
    opacity: 1;
}


footer section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
    font-family: Montserrat;
}

footer section:nth-of-type(2) article {
    margin-bottom: 2.25rem;
}

footer section:nth-of-type(2) h4 {
    font-family: Montserrat;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1rem;
}

footer section:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}


footer section:nth-of-type(2) li a {
    display: block;
    font-size: 0.75rem;
    color: #9e9e9e;
    text-decoration: none;
    line-height: 1.4;
}

footer section:nth-of-type(2) li a:hover {
    color: #ffffff;
}

footer section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    padding: 0;
    margin: 0.5rem 0;
    list-style: none;
}


footer section:nth-of-type(2) article:last-of-type img {
    width: 120px;
    height: auto;
}



footer section:nth-of-type(3) {
    border-top: 1px solid var(--color-text);
    padding-top: 1.75rem;
    background-color: #121212;
}

footer section:nth-of-type(3) p {
    font-size: 0.75rem;
    color: #9a9a9a;
    line-height: 1.5;
    text-transform: uppercase;
}

footer section:nth-of-type(3) ul {
    font-size: 0.75rem;
}

footer section:nth-of-type(3) ul li a {
    color: #9a9a9a;
    text-decoration: none;
    text-transform: capitalize;
}

footer section::nth-of-type(3) ul li a:hover {
    color: #ffffff;
}

footer section:nth-of-type(3) ul li span {
    margin: 0 0.35rem;
    color: #666666;
}

footer section:nth-of-type(3) p:last-of-type {
    text-transform: capitalize;
}


footer section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer section:nth-of-type(1) > img {
    display: block;
    margin-bottom: 1em;
    align-self: flex-start;
}


